<div class="dashboard-header">
  <div class="trip-info">
    <h1>Your trips</h1>
    <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
    <%= image_tag avatar_url, class: "avatar-center", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      
      <% if @user.trips.empty? %>
      <div class="pic-card-container">
        <%= image_tag 'no-trips-pic.svg' %>
        <p>There are no trips in your dashboard. Add the first one</p>
      </div>
      <% end %>
      
      <div class="trip-cards-wrapper ">
        <% @user.trips.each do |t| %>
        <%= render 'trips/card', trip: t %>
        <% end %>
      </div>
    </div>
  </div>
</div>


  <div class="add-trip-btn">
    <%= link_to new_trip_path, remote: true do %>
      <%= image_tag "add.svg" %>
    <% end  %>
  </div>  


  <%= link_to destroy_user_session_path, method: :delete, class:"logout-btn-link" do %>
      <%= image_tag "logout.svg" %>
  <% end %>